h1 {
	text-align: center;
	margin-top: 200px;
	font-family: "Brush Script MT";
	font-size: 100px;
	text-shadow:
    0 0 5px #1170ed,
    0 0 10px #1170ed,
    0 0 20px #11c5ed,
    0 0 30px #11c5ed;
}

#startbtn {
    background-color: black;
    color: white;
    font-size: 60px;
    border: 3px solid #11c5ed;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 0 0 20px #11c5ed;
    cursor: pointer;
    transition: 0.3s;
	margin: 0 auto;
	display: block;
	margin-top: 200px;
}

#startbtn:hover {
    box-shadow: 0 0 40px #11c5ed, 0 0 80px #1170ed;
    color: #11c5ed;
}

body {
	background-image: url("casinoFront.png");
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.hide {
	display: none;
}

.table {
	background-image: url("pokerTable.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

#balance {
	bottom: 0;
	left: 0;
	position: absolute;
	font-size: 75px;
	color: green;
}